#root,
html,
body {
  /* 
  100% : 부모 요소의 content 영역 
         -> 스크롤바, 여백 등 고려해서 딱 맞게 채움
  100vw: 브라우저 전체 화면 너비(viewport) 
         -> 스크롤바 등의 영역만큼 더 넓어져 의도치 않은 가로 스크롤이 발생할 수 있음 
  100vh: 브라우저 전체 화면 높이(viewport) 
  왜 height는 100vh로 쓰고 width는 100%로 설정하는가?
  - height: 부모 요소가 기본적으로 height: auto라서, 
            부모 요소의 크기가 설정되어있지 않으면 height: 100% 설정이 동작하지 않음
            -> 따라서 height: 100vh로 설정해야 항상 정확히 동작함
  - width: 기본적으로 부모 요소가 width: 100%이므로, width를 100%로 설정해도 충분히 안전함
           오히려 100vw로 설정하면 스크롤바 등의 영역만큼 더 넓어져 의도치 않은 가로 스크롤이 발생할 수 있음
  */
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: none;
  background-color: transparent;

  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
